@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&family=Roboto:wght@300&display=swap');
.text-center.card {
    border: none;
}

.card-body.header-body {
    background-color: rgb(255, 172, 66);
}

.card-text.title {
    margin-top: 35px;
    margin-bottom: 0px;
    font-family: 'Josefin Sans Light';
}

.card-text.bold-type,
.card-text.title {
    font-size: 32px;
    color: rgb(44, 39, 43);
}

@media (max-width: 989px) {
    .card-text.bold-type,
    .card-text.title {
        font-size: 32px;
    }
}

@media (max-width: 989px) {
    .card-body.header-body {
        line-height: 1.2;
    }
}

@media (max-width: 426px) {
    .card-text.bold-type,
    .card-text.title {
        font-size: 28px;
    }
}

@media (max-width: 426px) {
    .card-text.title {
        margin-bottom: 6px;
    }
}

.save-button {
    display: inline-block;
    border: 1px solid #2C272B;
    padding: 9px 7px;
    background-color: #2C272B;
    color: white;
    border-radius: 12px;
    color: white;
    font-size: 15px;
    margin-top: 16px;
    margin-bottom: 35px;
}

@media (max-width: 426px) {
    .save-button {
        font-size: 13px;
        margin-top: 12px;
        margin-bottom: 30px;
    }
}