#energiaSolar {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#energiaSolar::before {
    content: "";
    background-image: url('../Images/fondoenergia.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

img.card-img-top.image.energia-img {
    width: 24%;
    margin-bottom: 20px;
    margin-top: 40px;
}

.card.card-container {
    border: none;
}

.product-title-energia {
    color: #2C272B;
    font-size: 2.1rem;
    font-family: 'Josefin Sans Bold';
    margin-top: 15px;
}

.product-subtitle-energia {
    color: #2C272B;
    font-size: 1.7rem;
    font-family: 'Josefin Sans Light';
    margin-top: -20px;
}

p.block-text-energia.card-text {
    color: #2C272B;
    font-size: 2.3vh;
    font-family: 'Josefin Sans Light';
    margin-top: 20px;
}

p.block-text-energia-black.card-text {
    color: #2C272B;
    font-size: 2.3vh;
    font-family: 'Josefin Sans Bold';
    margin-top: 20px;
}

.hire-btn.btn.btn-primary {
    margin: 0 auto;
    background-color: rgb(255, 172, 66);
    border-color: rgb(255, 172, 66);
    color: rgb(44, 39, 43);
    font-family: 'Josefin Sans Bold';
    padding: 12px 20px 8px;
}

a.hire-btn.energia.btn.btn-primary {
    margin: 30px auto;
    margin-bottom: 50px;
    background-color: #FFAC42;
    border-color: #FFAC42;
}