.form-container {
     margin-top: 30px;
     display: grid;
     justify-content: center;
     align-items: center;
}

.product-title-form {
    color: #2C272B;
    font-size: 2.3rem;
    font-family: 'Josefin Sans Bold';
    text-align: center;
    margin-top: 70px;
}

.product-subtitle-form {
    font-size: 1.7rem;
    font-family: 'Josefin Sans Light';
    text-align: center;
    margin-top: -15px;
}

input.form-control {
    background-color: #FFAC42;
    font-family: 'Josefin Sans Bold';
}

input.form-control:focus {
    background-color: #FFAC42;
    border-color: #FFAC42;
    box-shadow: 0 0 0 0.2rem #eec897;
}


input.form-control:active {
    background-color: #FFAC42;
    border-color: #FFAC42;
    box-shadow: 0 0 0 0.2rem #eec897;
}


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #FFAC42;
  -webkit-text-fill-color: #2C272B;
  transition: background-color 5000s ease-in-out 0s;
}

textarea.form-control {
    color: black;
}

textarea.form-control:focus {
    color: black;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

div#form.container {
    margin-top: -25px;
}

div.form-group.col {
    padding-top: 17px;
}

#formGridState {
    background-color: #FFAC42;
    font-family: 'Josefin Sans Bold';
    color: #2C272B;
}

#form-options {
    background-color: #FFFF;
    margin-top: 40px;
}

select#formGridState.form-control {
    margin-bottom: 20px;
    margin-top: -15px;
}

select:focus {
    background: yellow
  }

textarea#formBasicasunto.form-control {
    background-color: #FFAC42;
    font-family: 'Josefin Sans Bold';
}

textarea#formBasicasunto.form-control:focus {
    border-color: #FFAC42;
    box-shadow: 0 0 0 0.2rem #fac47e;
}

textarea#formBasicasunto.form-control::placeholder,
input#formBasicnameForm.form-control::placeholder,
input#formBasicemail.form-control::placeholder,
input#formBasicphone.form-control::placeholder {
    color: black;
}

.form-sbmt {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div.form-check {
    display: inline-block;
}

.termsConditions {
    display: inline;
    font-family: 'Josefin Sans Light';
}

.termsConditions a {
    color: #2C272B;
    text-decoration: none;
}

.termsConditions a:hover {
    color: #FFAC42;
    text-decoration: none;
}
.sbm-btn.btn.btn-primary {
    background-color: #FFAC42;
    border-color:  #FFAC42;
    color: #2C272B;
    margin-bottom: 40px;
    font-family: 'Josefin Sans Bold';
}

div.fade.alert.alert-success.show {
    margin-bottom: 40px;
    text-align: center;
}