#productos {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#productos::before {
    content: "";
    background-image: url('../Images/fondoluz.png');
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.card.card-container {
    border: none;
    background: none;
}

img.card-img-top.image {
    width: 105px;
    margin: 28px 0 35px;
}

@media (max-width: 600px) {
    img.card-img-top.image {
        width: 85px;
    }
}

p.product-title-luz {
    font-size: 30px;
    margin: 0px;
}

p.product-subtitle-luz {
    font-size: 30px;
    font-family: 'Josefin Sans Light';
    margin: 0px;
    line-height: 1.3;
}

.block-text-luz.card-text {
    font-size: 18px;
    font-family: 'Josefin Sans Light';
    margin-top: 20px;
}

.graphic-image.card-img-top {
    width: 550px;
    margin-top: 40px;
    margin-bottom: 25px;
}

.card-text.text-footer {
    font-family: 'Josefin Sans Bold';
    font-size: 18px;
}

@media (max-width: 620px) {
    .graphic-image.card-img-top {
        width: 100%;
    }
}

.hire-btn.btn.btn-primary {
    background-color: #FFAC42;
    border-color: #FFAC42;
    border-radius: 8px;
    color: rgb(44, 39, 43);
    font-family: 'Josefin Sans Bold';
    font-size: 12px;
}

a.hire-btn.btn.btn-primary.luz {
    margin: 5px 0 50px;
}