#aboutUs {
    background-color: #FFAC42;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card.card-container {
    border: none;
}

.product-title-about {
    color: #2C272B;
    font-size: 30px;
    margin-top: 28px;
    margin-bottom: 0px;
}

.product-subtitle-about {
    color: #2C272B;
    font-size: 30px;
    font-family: 'Josefin Sans Light';
    margin: 0px;
    line-height: 1.3;
}

p.product-subtitle-about.second-sub {
    display: inline-block;
    color: #2C272B;
    font-family: 'Josefin Sans Bold';
    font-size: 18px;
}

p.block-text-about.card-text,
.block-text-about2 {
    color: #2C272B;
    font-family: 'Josefin Sans Light';
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 5px;
}

p.block-text-about2.card-text {
    padding-top: 10px;
}

.card-img.ondas-detail {
    width: 200px;
    margin-bottom: 30px;
}

@media (max-width: 600px) {
    img.card-img.ondas-detail {
        width: 150px;
    }
}

.product-subtitle-about-small {
    color: white;
    font-size: 15px;
    font-family: 'Josefin Sans Bold';
}

p.block-text-about2.card-text.last {
    margin-bottom: 30px;
}